@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

@font-face {
  font-family: "DepartureMono";
  src:
    url("./assets/fonts/DepartureMono-Regular.woff2") format("woff2"),
    url("./assets/fonts/DepartureMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: sans-serif;
}

html,
body {
  background: theme("colors.black");
  color: theme("colors.neutral.100");
}

input,
textarea,
select {
  background: theme("colors.neutral.900");
  color: theme("colors.neutral.100");
}

iframe {
  background: black;
}
